# 镜像源
# registry=https://registry.npmjs.org/
registry=https://registry.npmmirror.com



# 代理
# proxy=http://127.0.0.1:7897
# https-proxy=http://127.0.0.1:7897

# 配置不生成文件pnpm-lock.yaml
lockfile = false

# 配置不生成文件package-lock.json
package-lock = false



// # pnpm安装Electron问题,pnpm只是下载electron的依赖,需要设置环境镜像地址下载electron的二进制文件,然后执行node install.js
// # cd "C:/AAA/order_taobao/node_modules/.pnpm/electron@28.3.2/node_modules/electron"
// # $env:ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
// # $env:electron_mirror="https://npmmirror.com/mirrors/electron/"
// # node install.js